MQTT_HOST=
MQTT_PORT=1883
MQTT_TOPIC=esp32/camera

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

NUXT_API_URL=http://localhost:3000
INTERNAL_API_KEY=

# Preproceso de imagen
BLUR_THRESHOLD=100
MIN_BRIGHTNESS=30
MIN_DIFF_THRESHOLD=10

# Worker
LOG_LEVEL=INFO
