MQTT_HOST=
MQTT_PORT=1883
MQTT_CLIENT_ID=python-worker

NUXT_API_URL=http://localhost:3000
INTERNAL_API_KEY=

# Preproceso de imagen
BLUR_THRESHOLD=100
MIN_BRIGHTNESS=30
MIN_DIFF_THRESHOLD=10

# Vision backend: "rekognition" (default) | "sagemaker"
VISION_BACKEND=rekognition
SAGEMAKER_ENDPOINT_NAME=
